In [1]:
import ember

In [2]:
data_dir = "ember2018"

In [3]:
ember.create_vectorized_features(data_dir)
_ = ember.create_metadata(data_dir)

WARNING: EMBER feature version 2 were computed using lief version 0.9.0-
WARNING:   lief version 0.12.1-c7b3ce3b found instead. There may be slight inconsistencies
WARNING:   in the feature calculations.
Vectorizing training set

100%|█████████████████████████████████████████████████████████████████████████| 800000/800000 [14:42<00:00, 906.46it/s]

Vectorizing test set

100%|█████████████████████████████████████████████████████████████████████████| 200000/200000 [06:23<00:00, 521.68it/s]

In [4]:
emberdf = ember.read_metadata(data_dir)

In [5]:
emberdf

,sha256,appeared,label,avclass,subset
0,0abb4fda7d5b13801d63bee53e5e256be43e141faa077a...,2006-12,0,NaN,train
1,c9cafff8a596ba8a80bafb4ba8ae6f2ef3329d95b85f15...,2007-01,0,NaN,train
2,eac8ddb4970f8af985742973d6f0e06902d42a3684d791...,2007-02,0,NaN,train
3,7f513818bcc276c531af2e641c597744da807e21cc1160...,2007-02,0,NaN,train
4,ca65e1c387a4cc9e7d8a8ce12bf1bcf9f534c9032b9d95...,2007-02,0,NaN,train
...,...,...,...,...,...
999995,e033bc4967ce64bbb5cafdb234372099395185a6e0280c...,2018-12,1,zbot,test
999996,c7d16736fd905f5fbe4530670b1fe787eb12ee86536380...,2018-12,1,flystudio,test
999997,0020077cb673729209d88b603bddf56b925b18e682892a...,2018-12,0,NaN,test
999998,1b7e7c8febabf70d1c17fe3c7abf80f33003581c380f28...,2018-12,0,NaN,test
999999,836063f2312b597632bca1f738e68e4d23f672d587a7fc...,2018-12,1,emotet,test

In [6]:
X_train, y_train, X_test, y_test = ember.read_vectorized_features(data_dir)

WARNING: EMBER feature version 2 were computed using lief version 0.9.0-
WARNING:   lief version 0.12.1-c7b3ce3b found instead. There may be slight inconsistencies
WARNING:   in the feature calculations.

In [7]:
X_train

memmap([[1.4676122e-02, 4.2218715e-03, 3.9226813e-03, ..., 0.0000000e+00,
         0.0000000e+00, 0.0000000e+00],
        [1.8452372e-01, 3.1307504e-02, 5.6928140e-03, ..., 4.4229600e+05,
         0.0000000e+00, 0.0000000e+00],
        [2.5173673e-01, 1.4204546e-02, 6.8414863e-03, ..., 3.7280000e+04,
         0.0000000e+00, 0.0000000e+00],
        ...,
        [1.4297070e-01, 8.6626979e-03, 4.2015705e-03, ..., 0.0000000e+00,
         0.0000000e+00, 0.0000000e+00],
        [1.4780925e-01, 6.4021470e-03, 5.1157344e-03, ..., 0.0000000e+00,
         0.0000000e+00, 0.0000000e+00],
        [1.3445158e-01, 6.8144272e-03, 5.5496283e-03, ..., 0.0000000e+00,
         0.0000000e+00, 0.0000000e+00]], dtype=float32)

In [8]:
X_train.shape

(800000, 2381)

In [9]:
y_train

memmap([0., 0., 0., ..., 0., 1., 1.], dtype=float32)

In [10]:
y_train.shape

(800000,)

In [16]:
import numpy as np
import pandas as pd

In [17]:
Y_train_data = pd.DataFrame(y_train)

In [18]:
Y_train_data

          0
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
799995  1.0
799996  1.0
799997  0.0
799998  1.0
799999  1.0

[800000 rows x 1 columns]

In [19]:
X_train_data = pd.DataFrame(X_train)

In [20]:
X_train_data

,0,1,2,3,4,5,6,7,8,9,...,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380
0,0.014676,0.004222,0.003923,0.004029,0.004007,0.003775,0.003825,0.003887,0.004153,0.003804,...,72.0,35240.0,0.0,0.0,660.0,32768.0,0.0,0.0,0.0,0.0
1,0.184524,0.031308,0.005693,0.005959,0.008144,0.003512,0.005786,0.008550,0.009141,0.001791,...,64.0,92936.0,408.0,608.0,2604.0,4096.0,224.0,442296.0,0.0,0.0
2,0.251737,0.014205,0.006841,0.008556,0.023493,0.002858,0.003401,0.008556,0.010215,0.001176,...,0.0,0.0,0.0,0.0,1120.0,4096.0,192.0,37280.0,0.0,0.0
3,0.008964,0.004055,0.003925,0.003936,0.004037,0.003878,0.003847,0.003946,0.003939,0.003834,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.020401,0.005213,0.004519,0.004097,0.004240,0.004029,0.003785,0.004593,0.004875,0.003780,...,0.0,0.0,0.0,0.0,520.0,4096.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,0.137189,0.007094,0.005965,0.005905,0.007771,0.004824,0.004791,0.004651,0.008599,0.004399,...,64.0,8416.0,188.0,648.0,504.0,4096.0,0.0,0.0,0.0,0.0
799996,0.133546,0.006233,0.005556,0.005425,0.006205,0.005215,0.004691,0.004757,0.005878,0.005299,...,64.0,5888.0,204.0,632.0,452.0,4096.0,0.0,0.0,0.0,0.0
799997,0.142971,0.008663,0.004202,0.003437,0.006264,0.003963,0.002037,0.001968,0.007913,0.001516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799998,0.147809,0.006402,0.005116,0.005052,0.006560,0.004936,0.004492,0.004440,0.006265,0.004483,...,64.0,19072.0,0.0,0.0,400.0,4096.0,0.0,0.0,0.0,0.0
799999,0.134452,0.006814,0.005550,0.005494,0.007081,0.005085,0.004595,0.004999,0.007098,0.004706,...,64.0,6304.0,164.0,640.0,408.0,4096.0,0.0,0.0,0.0,0.0

In [21]:
Y_test_data = pd.DataFrame(y_test)

In [22]:
Y_test_data

          0
0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
...     ...
199995  1.0
199996  1.0
199997  0.0
199998  0.0
199999  1.0

[200000 rows x 1 columns]

In [23]:
X_test_data = pd.DataFrame(X_test)

In [24]:
X_test_data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380
0,0.056625,0.008297,0.006166,0.005656,0.005759,0.004970,0.004198,0.005417,0.005043,0.005628,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.296831,0.009436,0.005157,0.006518,0.011982,0.004762,0.002063,0.002524,0.012706,0.001075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.608065,0.005190,0.002764,0.003357,0.003947,0.001756,0.001467,0.001652,0.003632,0.001558,...,0.0,0.0,0.0,0.0,432.0,4096.0,0.0,0.0,0.0,0.0
3,0.090981,0.005722,0.005210,0.004555,0.006681,0.003978,0.003037,0.003168,0.005258,0.002948,...,0.0,0.0,0.0,0.0,532.0,103172.0,0.0,0.0,0.0,0.0
4,0.140146,0.008492,0.004119,0.003369,0.006141,0.003885,0.001996,0.001929,0.007756,0.001486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.037689,0.004288,0.003987,0.003779,0.006399,0.003336,0.003568,0.004320,0.004194,0.003629,...,0.0,0.0,0.0,0.0,388.0,507904.0,0.0,0.0,0.0,0.0
6,0.399292,0.029114,0.026550,0.011658,0.023071,0.007324,0.014832,0.003662,0.002258,0.002747,...,0.0,0.0,0.0,0.0,8.0,8208.0,0.0,0.0,72.0,8292.0
7,0.028050,0.032192,0.008525,0.003476,0.004048,0.003099,0.003092,0.003106,0.002839,0.002921,...,0.0,0.0,0.0,0.0,8.0,8192.0,0.0,0.0,72.0,8200.0
8,0.146954,0.008674,0.005772,0.005211,0.005976,0.003489,0.004516,0.003298,0.010499,0.003412,...,64.0,50208.0,0.0,0.0,312.0,45056.0,0.0,0.0,0.0,0.0
9,0.442944,0.009473,0.004541,0.004858,0.008447,0.003003,0.001733,0.001563,0.008887,0.001514,...,0.0,0.0,0.0,0.0,412.0,28672.0,0.0,0.0,0.0,0.0

In [25]:
Test_dataset = pd.concat([X_test_data, Y_test_data], axis=1)

In [26]:
Test_dataset.head(10)

,0,1,2,3,4,5,6,7,8,9,...,2372,2373,2374,2375,2376,2377,2378,2379,2380,0
0,0.056625,0.008297,0.006166,0.005656,0.005759,0.004970,0.004198,0.005417,0.005043,0.005628,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.296831,0.009436,0.005157,0.006518,0.011982,0.004762,0.002063,0.002524,0.012706,0.001075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.608065,0.005190,0.002764,0.003357,0.003947,0.001756,0.001467,0.001652,0.003632,0.001558,...,0.0,0.0,0.0,432.0,4096.0,0.0,0.0,0.0,0.0,1.0
3,0.090981,0.005722,0.005210,0.004555,0.006681,0.003978,0.003037,0.003168,0.005258,0.002948,...,0.0,0.0,0.0,532.0,103172.0,0.0,0.0,0.0,0.0,0.0
4,0.140146,0.008492,0.004119,0.003369,0.006141,0.003885,0.001996,0.001929,0.007756,0.001486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.037689,0.004288,0.003987,0.003779,0.006399,0.003336,0.003568,0.004320,0.004194,0.003629,...,0.0,0.0,0.0,388.0,507904.0,0.0,0.0,0.0,0.0,1.0
6,0.399292,0.029114,0.026550,0.011658,0.023071,0.007324,0.014832,0.003662,0.002258,0.002747,...,0.0,0.0,0.0,8.0,8208.0,0.0,0.0,72.0,8292.0,0.0
7,0.028050,0.032192,0.008525,0.003476,0.004048,0.003099,0.003092,0.003106,0.002839,0.002921,...,0.0,0.0,0.0,8.0,8192.0,0.0,0.0,72.0,8200.0,0.0
8,0.146954,0.008674,0.005772,0.005211,0.005976,0.003489,0.004516,0.003298,0.010499,0.003412,...,50208.0,0.0,0.0,312.0,45056.0,0.0,0.0,0.0,0.0,1.0
9,0.442944,0.009473,0.004541,0.004858,0.008447,0.003003,0.001733,0.001563,0.008887,0.001514,...,0.0,0.0,0.0,412.0,28672.0,0.0,0.0,0.0,0.0,0.0

In [27]:
Test_dataset.to_csv('Test_dataset.csv')

In [28]:
Train_dataset = pd.concat([X_train_data, Y_train_data], axis=1)

In [29]:
Train_dataset.to_csv('Train_dataset.csv')